In [ ]:
<a href="https://colab.research.google.com/github/Chuckboliver/Probability-and-Statistics/blob/main/plot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("pokemon_alopez247.csv")
df

     Number        Name   Type_1  ... Weight_kg  Catch_Rate       Body_Style
0         1   Bulbasaur    Grass  ...       6.9          45        quadruped
1         2     Ivysaur    Grass  ...      13.0          45        quadruped
2         3    Venusaur    Grass  ...     100.0          45        quadruped
3         4  Charmander     Fire  ...       8.5          45   bipedal_tailed
4         5  Charmeleon     Fire  ...      19.0          45   bipedal_tailed
..      ...         ...      ...  ...       ...         ...              ...
716     717     Yveltal     Dark  ...     203.0          45        two_wings
717     718     Zygarde   Dragon  ...     305.0           3  serpentine_body
718     719     Diancie     Rock  ...       8.8           3        head_arms
719     720       Hoopa  Psychic  ...       9.0           3        head_only
720     721   Volcanion     Fire  ...     195.0           3        quadruped

[721 rows x 23 columns]