<a href="https://colab.research.google.com/github/Chuckboliver/Probability-and-Statistics/blob/main/HW2/plot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import drive
drive.mount("/content/drive")
import pandas as pd
import matplotlib.pyplot as plt

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
df = pd.read_csv("/content/drive/MyDrive/Data sets/pokemon_alopez247.csv")
df = df[["Name", "Height_m", "Weight_kg", "Body_Style"]]
df.head(n=20)

          Name  Height_m  Weight_kg       Body_Style
0    Bulbasaur      0.71        6.9        quadruped
1      Ivysaur      0.99       13.0        quadruped
2     Venusaur      2.01      100.0        quadruped
3   Charmander      0.61        8.5   bipedal_tailed
4   Charmeleon      1.09       19.0   bipedal_tailed
5    Charizard      1.70       90.5   bipedal_tailed
6     Squirtle      0.51        9.0   bipedal_tailed
7    Wartortle      0.99       22.5   bipedal_tailed
8    Blastoise      1.60       85.5   bipedal_tailed
9     Caterpie      0.30        2.9        insectoid
10     Metapod      0.71        9.9  serpentine_body
11  Butterfree      1.09       32.0       four_wings
12      Weedle      0.30        3.2  serpentine_body
13      Kakuna      0.61       10.0  serpentine_body
14    Beedrill      0.99       29.5       four_wings
15      Pidgey      0.30        1.8        two_wings
16   Pidgeotto      1.09       30.0        two_wings
17     Pidgeot      1.50       39.5        two_wings
18     Rattata      0.30        3.5        quadruped
19    Raticate      0.71       18.5        quadruped